body {
  background-image: url('../assets/img/AIbrain.jpg');
  background-repeat: no-repeat;
  background-size: cover;	
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

.container {
  color: white;
}
