html, body {
    height: 100%;
}

body {
    background-image: url('../img/AIbrain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.container {
    color: white;
    background-color: #343a40;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

#title {
    display: inline-block;
}


