body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
  background-image: url('../img/AIbrain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: #212529;
  background-color: #F9F9F9;
  border-radius: 5px;
  padding: 1%;
} 

.container #intro {
  font-weight: bold;
}


